/xml_annotations
/PNGImages
/yolo_annotations
/train
/validation
/modified_xml_annotations
/test_yolo_file_structure
*.tar.gz
/MASATI-v2
/temp*
/yolo_images_train
/yolo_images_validation
/yolo_labels_train
/yolo_labels_validation
